body {
    color: rgb(33, 33, 33);
    font-family: Arial;
    font-size: 20px;
    margin: 0;    
}
a {
    color: #d9d9d9;
    text-decoration: none;
}
a:hover {
    color: #FF0000;
}
header {
    background-color: rgb(33, 33, 33);
    padding: 10px;
}
h1 {
    font-weight: 700;
    margin: 0;
    font-size: 1.25em;
}
#menu{
    background-color: lightgreen;
}
#menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    overflow: hidden;
}
#menu li{
    float: left;
    width: 100px;
    background-color: violet;
}