body {
    color: rgb(33, 33, 33);
    font-family: Arial;
    font-size: 20px;
    margin: 0;    
}
a {
    color: #d9d9d9;
    text-decoration: none;
}
a:hover {
    color: #FF0000;
}
#top, 
#content figcaption, 
#copyright{
    background-color: rgb(33, 33, 33);
}
#top {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(33, 33, 33);
    padding: 10px;
}
#top h1 {
    font-weight: 700;
    margin: 0;
    font-size: 1.25em;
}
#menu { 
    margin-left: auto;
}
#menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    overflow: hidden;
}
#menu li { 
    float: right;
}
#menu ul li a {
    display: block;
    text-align: center;
    padding: 5px;
}
#menu ul li a:hover {
    color: rgb(33, 33, 33);
    background-color: #d9d9d9;
}
#content figure { 
    width: 100%;
    margin: 0;
}
#content figcaption {
    display: flex;
    align-items: center;
    height: 100px;
}
#content h2 {
    margin: 0;
    font-size: 36px;
    color: #d9d9d9;
    padding: 10px;
}
#content img {
    width: 100%;
}
hr{
    margin: 0;
}
.noticia {
    padding: 10px;
    border-bottom: solid 1px #cccccc;
    overflow: hidden;
    margin: 0px 10px;
}
.noticia-img, .noticia-txt {
    box-sizing: border-box;
    padding: 10px;
    float: left;
}
.noticia-img {
    width: 30%;
}
.noticia-txt {
    width: 70%;
}
.noticia-txt h3{
    margin-top: 10px 0px;
    font-size: 32px;
}
#tabla-posiciones table{
    border: solid 1px #cccccc;
    border-collapse: collapse;
    margin: auto;
    width: 600px;
}
#tabla-posiciones tr{
    border-bottom: solid 1px #cccccc
}
#tabla-posiciones td,
#tabla-posiciones th{
    padding: 10px;
}
#tabla-posiciones td:nth-of-type(odd){
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}
#copyright p{
    color: white;
    margin: 0;
    padding: 15px;
    text-align: center;
    font-size: 14px;

}